{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}
{% block body %}
    <div class="container">
        <h1>Hello Turbo</h1>
        <turbo-frame id="the_frame_id">
            <a class="btn btn-primary btn-block" href="{{ path('home_sub') }}">
                Show subpage content <i class="bi bi-arrow-right"></i>
            </a>
        </turbo-frame>
    </div>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">
            <span>Footer Turbo App</span>
        </div>
    </footer>
{% endblock %}
